.comment {
    width: 100%;
    margin-bottom: 5px;
}
.comment .textareaholder {
    margin-right: 14px;
    margin-bottom: 2px;
}
.comment textarea {
    min-width: 200px;
    width: 100%;
}
table a {
    display: block;
}
table a:hover {
    text-decoration: none;
}
.tab-content {
    overflow: hidden;
}
.plotholder {
    width: 400px;
    height: 200px;
}
.tab-content  {
    float: left;
}
.tab-raphael {
    display: block !important;
    position: absolute;
    top: -9999px;
}
.tab-raphael.active {
    position: relative;
    top: 0;
}
img {
    max-width: none;
}
.bbox-container {
    position: relative;
}

.bbox {
    border: 2px solid #A6FF3D;
    position: absolute;
}

.bbox-score {
    border-bottom-right-radius: 10px;
    display: inline-block;
    padding-right: 4px;
}

.heatmap-tooltip {
  position: absolute;
  display: block;
  width: 40px;
  height: 25px;
  z-index: 999; 
}
.heatmap-tooltipFill {
  position: absolute;
  display: block;
}
.heatmap-tooltipFill p {
  position: absolute;
  display: block;
  text-align: center;
  background-color: #fff;
  padding: 3px 10px 3px 10px;
}

@font-face {
    font-family: "xkcd";
    src: url('Humor-Sans.ttf');
}

.xkcdplotholder {
    font-family: "xkcd", sans-serif;
    font-size: 16px;
    color: #333;
}

.xkcdplotholder text.title {
    font-size: 20px;
}

.xkcdplotholder path {
    fill: none;
    stroke-width: 2.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.xkcdplotholder path.axis {
    stroke: black;
}

.xkcdplotholder path.bgline {
    stroke: white;
    stroke-width: 6px;
}

span.paged_links a, span.paged_links strong, span.paged_links span {
    display: inline;
    margin-right: 4px;
}

.prettytext {
    padding-left: 10px;
    padding-right: 10px;
}

.classicfluid {
    max-width: 100%;
}

.classicfluid .fluiditem {
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
}

.paginator {
    clear: both;
}
