.comment {
    width: 100%;
    margin-bottom: 5px;
}
.comment .textareaholder {
    margin-right: 14px;
    margin-bottom: 2px;
}
.comment textarea {
    min-width: 200px;
    width: 100%;
}
table a {
    display: block;
}
table a:hover {
    text-decoration: none;
}
.tab-content {
    overflow: hidden;
}
.plotholder {
    width: 400px;
    height: 200px;
}
.plotholder svg {
    width: 400px;
    height: 200px;
}
.heatmap-tooltip {
  position: absolute;
  display: block;
  width: 40px;
  height: 25px;
  z-index: 999; 
}
.heatmap-tooltipFill {
  position: absolute;
  display: block;
}
.heatmap-tooltipFill p {
  position: absolute;
  display: block;
  text-align: center;
  background-color: #fff;
  padding: 3px 10px 3px 10px;
}
.
