{% set thisitem = item %}
<div class="itemstack tabbable tabs-right">
    <ul class="nav nav-tabs">
{% do 'stacktabid'|inc(0, None, True) %}
{% for label in thisitem.labels %}
        <li{% if loop.first %} class="active"{% endif %}><a href="#tab{{ itemid }}-{{ stacktabid|inc }}" data-toggle="tab">{{ label }}</a></li>
{% endfor %}
    </ul>
    <div class="tab-content">
{% do 'stacktabid'|inc(0, None, True) %}
{% for item in thisitem.stack %}
    <div class="tab-pane{% if item.type == "plot" %} tab-raphael{% endif %}{% if loop.first %} active{% endif %}" id="tab{{ itemid }}-{{ stacktabid|inc }}">
      {% include "item_template.html" %}
    </div>
{% endfor %}
    </div>
    <div class="clearfix"></div>
</div>
{% set item = thisitem %}
