{% if item.type == "image" %}
    {% include "item_image.html" %}
{% elif item.type == "video" %}
    {% include "item_video.html" %}
{% elif item.type == "comment" %}
    {% include "item_comment.html" %}
{% elif item.type == "plot" %}
    {% include "item_plot.html" %}
{% elif item.type == "xkcdplot" %}
    {% include "item_xkcdplot.html" %}
{% elif item.type == "heatmap" %}
    {% include "item_heatmap.html" %}
{% elif item.type == "stack" %}
    {% include "item_stack.html" %}
{% elif item.type == "subpage" %}
    <a href="{{ item.url }}"{% if item.attrs %} {{ item.attrs }}{% endif %}>Subpage</a>
{% elif item.type == "text" %}
    <span{% if item.attrs %} {{ item.attrs }}{% endif %}>{{ item.text }}</span>
{% else %}
    <span{% if item.attrs %} {{ item.attrs }}{% endif %}>{{ item }}</span>
{% endif %}
