<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}Visualization webpage{% endif %}{% if page.parent and params.title %} / {{ params.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ currentdate }}">
    <meta name="author" content="">

    <!-- Le styles -->
{% include "webpage_css.html" %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    {% if page.title %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <a class="navbar-brand navbar-left" href="{{ params.target_url }}">{% if page.parent and params.title %}{{ params.title }} : {% endif %}{{ page.title }}</a>
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
        </div>
    </div>
    {% endif %}

    <div class="container-fluid">
{% if page.parent %}
    <ul class="breadcrumb">
{% for breadcrumb in page.breadcrumbs %}
{% if not loop.last %}
        <li><a href="{{ breadcrumb.path }}">{% if breadcrumb.title %}{{ breadcrumb.title }}{% else %}{{ breadcrumb.path }}{% endif %}</a></li>
{% else %}
        <li class="active">{% if breadcrumb.title %}{{ breadcrumb.title }}{% else %}{{ breadcrumb.path }}{% endif %}</li>
{% endif %}
{% endfor %}
    </ul>
{% endif %}

      {% if page.description %}
      <p>{{ page.description }}</p>
      {% endif %}

    <div class="row-fluid">
{% include "webpage_precontent.html" %}
        <table id="maintable">
        {% if page.header %}
        <thead>
            <tr>
                {% for item in page.header %}
                <th id="td{{ itemid }}"{% if item.tdattrs %} {{ item.tdattrs }}{% endif %}>
                {% include "item_template.html" %}
                </th>
                {% endfor %}
            </tr>
        </thead>
        {% endif %}
        <tbody>
        {% for item0 in page.items %}
            <tr>
            {% if item0 is sequence and not item0 is string and not item0 is mapping %}
                {% for item in item0 %}
                    {% set itemid = 'itemid'|inc %}
                    <td id="td{{ itemid }}"{% if item.tdattrs %} {{ item.tdattrs }}{% endif %}>
                    {% include "item_template.html" %}
                    </td>
                {% endfor %}
            {% else %}
                {% with item = item0 %}
                    {% set itemid = 'itemid'|inc %}
                    <td id="td{{ itemid }}"{% if item.tdattrs %} {{ item.tdattrs }}{% endif %}>
                    {% include "item_template.html" %}
                    </td>
                {% endwith %}
            {% endif %}
            </tr>
        {% endfor %}
        </tbody>
        </table>
{% include "webpage_postcontent.html" %}
    </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% include "webpage_js.html" %}
  </body>
</html>

