    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
      body {
        background: #FFF url("static/img/light_wool.png") repeat;
{% if page.title %}
        padding-top: 60px;
{% endif %}
        padding-bottom: 40px;
      }
    </style>
    <link href="static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="static/css/wswebpage.css" rel="stylesheet">
{% if types.plot %}
    <link href="static/css/nv.d3.css" rel="stylesheet">
{% endif %}
{% if types.imagepopup or types.imagegallery %}
    <link href="static/css/magnific-popup.css" rel="stylesheet">
{% endif %}
