<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }}{% else %}Visualization webpage{% endif %}{% if page.parent and params.title %} / {{ params.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
{% include "webpage_css.html" %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    {% if page.title %}
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ params.target_url }}">{% if page.parent and params.title %}{{ params.title }} : {% endif %}{{ page.title }}</a>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container-fluid">

{% if page.parent %}
    <ul class="breadcrumb">
{% for breadcrumb in page.breadcrumbs %}
{% if not loop.last %}
        <li><a href="{{ breadcrumb.path }}">{% if breadcrumb.title %}{{ breadcrumb.title }}{% else %}{{ breadcrumb.path }}{% endif %}</a><span class="divider">/</span></li>
{% else %}
        <li class="active">{% if breadcrumb.title %}{{ breadcrumb.title }}{% else %}{{ breadcrumb.path }}{% endif %}</li>
{% endif %}
{% endfor %}
    </ul>
{% endif %}

      {% if page.description %}
      <p>{{ page.description }}</p>
      {% endif %}

    <div class="row-fluid">
        {% for item in page.items %}
        <div style="position: absolute; top: {{ item.point.y }}px; left: {{ item.point.x }}px;">
        {% set itemid = 'itemid'|inc %}
        {% include "item_template.html" %}
        </div>
        {% endfor %}
    </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
{% include "webpage_js.html" %}
  </body>
</html>

